// Place all the styles related to the static_pages controller here.
// colors from Adventurine pallette
body{
    box-sizing: border-box;
    position:relative;
}

h1{
    color: #89a370;
    font-family: Garamond, sans-serif;
    font-size:3em;
    text-align: center;
}

h2{
    text-align: center;
}



.img-responsive{
    display: block;
    margin: 0 auto;
}

#footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #89a370;
}


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
